<section class="landing-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 home-left">
        <div class="home-content">
          <h1 id="new" class="home-text">
            Your Health Is <br />Our Top Priority
          </h1>
          <br />
          <P id="ambulance" class="pr-5">
            Worry no more about any unexpected health complications.<br />Siren
            Wagon is here to take that struggle from you. Get urgent attention
            any time just a click of a button.</P
          >
          <a class="mt-5" routerLink="/signup" routerLinkActive="active">
            <button type="button" class="btn mt-5 custom-btn">
              Request Ambulance
            </button>
          </a>

          <div class="cards">
            <div class="card1 custom-card">
              <div class="card-body b1">
                <h5 class="card-title t1">99%</h5>
                <h6 class="card-subtitle mb-2 sb1">Satisfaction Rate</h6>
              </div>
            </div>

            <div class="card1 custom-card">
              <div class="card-body b1">
                <h5 class="card-title t1">10+</h5>
                <h6 class="card-subtitle mb-2 sb1">Partner Hospitals</h6>
              </div>
            </div>

            <div class="card1 custom-card">
              <div class="card-body b1">
                <h5 class="card-title t1">200+</h5>
                <h6 class="card-subtitle mb-2 sb1">Registered Drivers</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image" >
        
          <img src="../../../assets/images/home2.png" alt="" id='map'/>
        
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid" id="landing">
  <div class="newlanding">
    <div class="bg-light pb-5">
      <div class="container py-5 mt-5">
        <h2 class="custom-header mt-5 text-center pt-5 pb-5">Our Services</h2>
        <div class="row">
          <div class="col-lg-3">
            <div class="card custom-card p-4 text-center py-5">
              <div class="text-center">
                <img
                  src="../../../assets/images/amb2.png"
                  alt="image"
                  height="40px"
                  width="40px"
                />
              </div>

              <h2 class="card-title">Ambulances</h2>
              <p class="card-text">
                sirenwagon has enough ambulances to serve upon request. This is
                the sole purspose of the app.
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card custom-card p-4 text-center py-5">
              <div class="text-center">
                <img
                  src="../../../assets/images/hospital.png"
                  alt="image"
                  height="40px"
                  width="40px"
                />
              </div>

              <h2 class="card-title">Partner Hospitals</h2>
              <p class="card-text">
                Our partner hospitals are well equipped and ready to treat you
                when need arises and at an affordable price.
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card custom-card p-4 text-center py-5">
              <div class="text-center">
                <img
                  src="../../../assets/images/available.png"
                  alt="image"
                  height="40px"
                  width="40px"
                />
              </div>

              <h2 class="card-title">Availability</h2>
              <p class="card-text">
                Day and night our ambulances are available to serve you.
                Emergencies can happen anytime anywhere.
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card custom-card p-4 text-center py-5">
              <div class="text-center">
                <img
                  src="../../../assets/images/pay.png"
                  alt="image"
                  height="40px"
                  width="40px"
                />
              </div>

              <h2 class="card-title">Payment On Delivery</h2>
              <p class="card-text">
                Your health comes first. We make sure you're treated first, and
                then pay thereafter. Siren Wagon got you covered.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container py-4 my-4">
      <h2 class="custom-header text-center pt-5 mt-5">Why Siren Wagon</h2>
      <div class="row">
        <div class="col-lg-6">
          <img
            src="../../../assets/images/ambulance.png"
            alt="image"
            height="500px"
            width="500px"
          />
        </div>
        <div class="col-lg-6 my-auto">
          <div class="card pl-5 pr-2 pt-1 pb-5 custom-card">
            <h1 id="desc">
              <span id="trips">100+ trips made</span> <br />
              We Are Always Ready
              <br />
              To Make Sure You Get The Best Transport <br />
              To Hospital Incase Of An Emergency.
            </h1>

            sirenwagon is dedicated to make sure you get the best and relliable
            transport to the nearest health faccility with the urgency that it
            deserves.
            <br />
            <br /><br />
            No matter what time it is, you can be sure to get in touch and have
            an ambulance to your Aid.You deserve the best and sirenwagon git it!
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
