#landing{
    margin-top:20px;
    margin-bottom: 20px;
}

#new{
    font-size: 60px;
    line-height: 1.5;
    color: #3C6051;

}

#ambulance{
    font-size: 20px;
    line-height: 1.3;
}

#button1:hover{
    background-color:#3f48439f;
    margin-top: 10%;

}

.cards{
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    /* margin-right:30px ; */
    margin-top: 20%;
}

.card1{
    border: 0px solid white;
}

.card1 .b1 .t1{
    font-size: 30px;
    font-weight: bold;
    color: #3C6051;

}

.b1 .sb1{
    font-size: 14px;
}

#button1{
    background-color: green;
    margin-top: 10%;
}

.image img{
    width:800px;
}

.services{
    display:flex;
    justify-content: space-around;
}

#ourservices{
    text-align:center ;
    margin-bottom: 5%;
    font-size: 32px;
    font-weight: bold;
    color: #3C6051;
}

.row2{
    margin-top: 5%;
}

.card2{
    border:0px solid white;
}

.row3{
    margin-top:1%
}
#desc{
    margin-top: 10%;
    font-weight: bold;
    line-height: 1.3;
    color: rgb(75, 75, 91);
}

#trips{
    font-size: 20px;
     color: #3C6051;
}