<p>map-tracker works!</p>
<h1>{{ title }}</h1>

<button (click)="getLocation()" >Button</button>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <div *ngIf="lat && lng">
  <agm-map [latitude]="51.678418" [longitude]="7.809007" >
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-marker [latitude]="51.678418" [longitude]="7.809007" ></agm-marker>


  <agm-marker [latitude]="51.678418" [longitude]="7.809007" *ngIf="hospital"></agm-marker>
  <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'red'">
                    <agm-polyline-point
                    *ngFor="let coordinate of latlng; let i=index"
                    [latitude]="coordinate[0]"
                    [longitude]="coordinate[1]">

</agm-polyline-point>
</agm-polyline>

</agm-map>


</div>-->

<div *ngIf="lat && lng">



 <agm-map [latitude]="lat" [longitude]="lng"
          [fullscreenControl]='true' [mapTypeControl]='true' [fitBounds]="true">
              <agm-marker *ngFor="let coordinate of start_end_mark; let i=index"
              [latitude]="lat"
              [longitude]="lng" [agmFitBounds]="true"></agm-marker>
               <agm-marker *ngFor="let coordinate of start_end_mark; let i=index"
              [latitude]="7.809007"
              [longitude]="51.678418" [agmFitBounds]="true"></agm-marker>
              <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'red'">
                    <agm-polyline-point
                    *ngFor="let coordinate of start_end_mark; let i=index"
                    [latitude]="coordinate[0]"
                    [longitude]="coordinate[1]">

</agm-polyline-point>
</agm-polyline>
            </agm-map>
</div>

