<table class="table align-middle mb-0 bg-white text-center">
  <thead class="custom-card">
    <tr>
      <th class="text-left pl-5">Name</th>
      <th>Hospital</th>
      <th>Patient Status</th>
      <th>Service Date</th>
      <th>Payment Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="custom-card my-2">
      <td>
        <div class="d-flex align-items-center">
          <img
            src="https://mdbootstrap.com/img/new/avatars/7.jpg"
            class="rounded-circle"
            alt=""
            style="width: 45px; height: 45px"
          />
          <div class="ms-3">
            <p class="fw-bold mb-1 ml-2">Kate Hunington</p>
          </div>
        </div>
      </td>
      <td>
        <p class="fw-normal mb-1">Designer</p>
        <p class="text-muted mb-0">UI/UX</p>
      </td>
      <td>
        <span class="badge badge-warning rounded-pill d-inline">Admitted</span>
      </td>
      <td>Senior</td>
      <td>
        <p class="text-center">
          <span class="badge badge-success">Cleared</span>
        </p>
      </td>
    </tr>
  </tbody>
</table>
