 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{    
   align-items: center;
   background-position: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   background-image: url(../../assets/images/j.png);
   background-repeat: no-repeat; 
   background-position: center; 
   align-items: center;
   

}
.loginbox{
    margin: 0 auto;
    height: 420px;
    width: 380px;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(60, 96, 81,.7); */
    border-radius: 10px;
    background-image: linear-gradient(rgba(60, 96, 81,.7),rgba(60, 96, 81,.7)),url(../../assets/images/j.png);
    background-repeat: no-repeat; 
    background-position: center;
}

.loginbox h1{
    color: white;
    margin: 10px 50px 0 160px;
    font-weight: 600;
}
.form-control{
    border-bottom: 2px solid white;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin: 20px 30px 20px 30px;
    background-color:transparent;
} 

.form-control:nth-child(1){
    margin-top: 80px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control::placeholder{
    color: white;
}