<div class="container-fluid">
  <!-- <div class="mapimage">
    <img src="../../assets/images/map.png" alt="" />
  </div> -->
  <div class="info">
    <div class="row">
      <div class="col-md-1"></div>

      <div class="col-md-5" id="myform">
        <br /><br />
        <form class="form-inline my-2 my-lg-0" id="forrm">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Enter Destination"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Submit
          </button>
        </form>

        <br /><br />

        <div class="ambulance">
          <app-ambulances></app-ambulances>
        </div>
      </div>
      <div class="col-md-5" id="payments">
        <app-payments> </app-payments>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>
</div>
