.mapimage img {
  width: 100%;
  border-radius: 10px;
}

.myform {
  margin-top: 20px;
}

.hospital {
  font-size: 28px;
}

.location-left img {
  color: #3c6051;
}

.info ul li{
  list-style: none;
}

.card1 {
  box-shadow: 5px 5px 5px grey;
}


.card2 {
  margin-top: 22%;
  margin-left: 22%;
  background-color: #3c6051;
  opacity: 72%;
}


.card3{
  background-color: #3c6051;
color: #fff;
}

.pickup {
  font-size: 22px;
  font-weight: bold;

}

.fee {
  font-size: 22px;
  font-weight: bold;
  background-color: #3c6051;
  color: #fff;

}

.white{
    background-color: white;
    color: black;
    margin-left: 35%;
    height: 50px;
    width:150px;
}

.stars{
    margin-left: 25%;
}

.stars img{
    padding:5px;

}

.rate{
    margin-left:40%;
    color: white;
}

.book{
    margin-left:80%;
}