.topcard{

    display: flex;
    flex-direction: row;
    height: 300px;
    margin: 20px 50px 0px 50px;
    border: none;
    background-color: #F5F5F5;

}
.plus{
  height:80px;
  margin: 20px 0 0 30px
}

.card-title{
  margin: 10px 0 30px 80px;
  font-weight: 800;
  font-size: 32px;

}
hr{
  width: 40%;
  height: 14px;
  color: black;
  position: relative;
  left: -30%;
}
.form-control{
  width:40%;
  height: 40px;
  margin: 7px 0;
  border: 1px solid black !important;
}
.btn{
  background-color: #3C6051 ;
  color: white;
  padding: 0 10px;
  margin-top: 5px;
}

form{
  margin-bottom: 20px;
}

.login{
  font-weight: 600;
  font-size: 22px;
}
form label{
  color: black;
  font-weight: 500;
}
