<!-- top image -->
<div class="card topcard">
  <div class="card-body">
    <img src="/assets/images/plus.png" alt="" class="plus" />
    <h5 class="card-title">BE THE <br />AMBULANCE <br />SAVE LIVES</h5>
  </div>
  <div class="card-body2" style="height: 100%">
    <img src="/assets/images/right.png" alt="" style="height: 100%" />
  </div>
</div>
<!-- topimagee end -->

<!-- login  -->
<div
  class="container"
  style="margin-left: 50px; margin-top: 30px; display: flex"
>
  <div class="left" style="width: 80%">
    <p class="login">LOGIN</p>
    <hr />

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="btn">LOGIN</button>
    </form>
    <!-- login  -->
  </div>

  <!-- tap -->
  <!-- <div class="tap" >
  <img src="../../assets/images/tap.png" alt="" style="margin-top:30px ;">
  <p style="color: red; margin-left: 80px; font-weight: 600;">TAP</p>
  <h5 style="margin-left: 50px; color:red; font-weight: 600;">Very Urgent</h5>
</div> -->

  <!-- tap end -->
</div>
