.user-login {
  position: relative;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../../assets/images/ambulance.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;

  top: 0;
}

.form-container {
  background-color: #244049cb;
  color: #fff;
}
.login-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url(../../../assets/login-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100px;
}

.login-btn {
  border: 2px solid #20df80;
  /* background: #20df809c; */
  padding: 0.5rem 0rem;
  background-color: transparent;
}
.login-btn:hover {
  background-color: #20df809f;
  transition: all 0.3s linear;
  font-weight: bolder;
  border: 2px solid transparent;
}
