<h1>Payemnts</h1>
<div class="col-md-5" *ngFor="let trip of trips">
  <div class="card card2" style="width: 32rem">
    <div class="card-body">
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5">
          <div class="card card3">
            <div class="card-body">
              <span class="pickup"> Pickup-point </span>
              <br />
              {{ trip.pickup }}
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="card card3">
            <div class="card-body">
              <span class="pickup"> Destination </span>
              <br />
              {{ trip.destination.name }}
            </div>
          </div>
        </div>

        <div class="col-md-1"></div>
      </div>
      <br /><br />

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <div class="card fee" style="width: 25rem">
            <div class="card-body">FEE : KES {{ trip.fee }}</div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <br /><br />

      <button type="button" class="btn btn-primary white">Make Payment</button>
      <br />
      <br />
      <span class="stars">
        <img
          src="/assets/images/wstar.png"
          alt=""
          width="50px"
          height="50px"
        />
        <img
          src="/assets/images/wstar.png"
          alt=""
          width="50px"
          height="50px"
        />
        <img
          src="/assets/images/wstar.png"
          alt=""
          width="50px"
          height="50px"
        /><img
          src="/assets/images/wstar.png"
          alt=""
          width="50px"
          height="50px"
        /><img
          src="/assets/images/wstar.png"
          alt=""
          width="50px"
          height="50px"
        />
      </span>
      <br /><br />

      <p class="rate">Rate Service</p>
    </div>
  </div>
</div>
