<div>
  <div class="d-flex align-items-center pt-4">
    <img
      src="https://mdbootstrap.com/img/new/avatars/7.jpg"
      class="rounded-circle"
      alt=""
      style="width: 60px; height: 60px"
    />
    <div class="ms-3">
      <p class="fw-bold mb-1 ml-2">Kate Hunington</p>
      <p class="mb-1 ml-2">Joined: 22-04-2022</p>
    </div>
  </div>
  <form class="pt-5">
    <div class="form-group">
      <input
        type="text"
        name="first_name"
        placeholder="First Name"
        value="First Name"
        class="form-control custom-input"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="last_name"
        placeholder="Last Name"
        value="Last Name"
        class="form-control custom-input"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        name="email"
        placeholder="Email Address"
        value="admin@gmail.com"
        class="form-control custom-input"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="phone"
        placeholder="254712345678"
        value="+254712345678"
        class="form-control custom-input"
      />
    </div>
    <button class="custom-btn btn-block py-2">Update Profile</button>
  </form>
  <div class="bg-light mt-5 mb-3 p-2 custom-card custom-hover">
    <p>Username: Admin</p>
    <p>Id Number: 43453483</p>
    <p>Driving License: 43453483</p>
  </div>
</div>
