<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="page-content page-container" id="page-content" style="display :flex;">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
  <div class="col-md-6 col-lg-4" >
           
    <form class="form-control">
              <h5 class="card-title fw-400">Sign Up</h5>
               
              <div class="card-body">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Your Username">
                  
                </div>
  
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Phone Number">
                </div>
  
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Password">
                </div>
  
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Confirm Password">
                
                </div>
  
  
               
                
                
              </div>
             
              <!-- <a class="already" href="#">You already have an account? Login here.</a> -->
            </form>
            <input type="submit" name="" value="SignUp" style="margin:10px 80px 0px 160px;width: 80px;padding:5px 10px;background-color: #D9D9D9; border-radius: transparent;"> 
           
            <p style="margin-left:50px ; color:white;">You already have an account?<a href="" style="color: white; text-decoration:none;">Login here</a> </p>
            
          </div>
           </div>
            </div>
             </div>
</body>
</html>
