<section class="patient-profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <nav
          id="sidebarMenu"
          class="collapse d-lg-block sidebar collapse bg-white"
        >
          <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
              <a
                class="list-group-item list-group-item-action py-2 ripple active"
              >
                <i class="fas pr-4 fa-chart-area fa-fw me-3 py-3"></i
                ><span class="pl-2"
                  >{{ profile.user?.username | titlecase }}'s Profile</span
                >
              </a>

              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-money-bill fa-fw me-3 py-3"></i
                ><span>Transactions</span></a
              >
              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-chart-line fa-fw me-3 py-3"></i
                ><span>Trips</span></a
              >

              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-chart-bar fa-fw me-3 py-3"></i
                ><span>Account Details</span></a
              >
              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-building fa-fw me-3 py-3"></i
                ><span>Hospitals</span></a
              >
              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-calendar fa-fw me-3 py-3"></i
                ><span>Appointments</span></a
              >
              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-users fa-fw me-3 py-3"></i
                ><span>Emergency Contacts</span></a
              >
              <a class="list-group-item list-group-item-action py-2 ripple"
                ><i class="fas pr-4 fa-lock fa-fw me-3 py-3"></i
                ><span>Change Password</span></a
              >
              <a class="list-group-item list-group-item-action py-2 ripple"
                ><span><app-logout></app-logout></span
              ></a>
            </div>
          </div>
        </nav>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="custom-header text-center py-4">Transactions</h2>
            <div class="custom-card">
              <app-transaction [transactions]="transactions"></app-transaction>
            </div>
          </div>
          <div class="col-lg-4 pt-5">
            <div class="text-center"><app-map-btn></app-map-btn></div>
            <div class="custom-card text-center p-4 mt-2">
              <h2 class="pb-2 custom-header">Transact Using Mpesa</h2>

              <app-transaction-form
                (transaction)="newTransaction($event)"
              ></app-transaction-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
