<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


  </head>
  <body>
  
    
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
    
    </div>

    <div class="col-md-8 mx-auto" id="pic">
      <!-- <i class="fa fa-bars position-absolute top-0 end-0" id="bar" aria-hidden="true"></i> -->
  
      <div class="divider-container">
        <div class="hamburger-menu" id="menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>
      
          <ul class="menu__box">
            <li><a class="menu__item" href="#">Home</a></li>
            <li><a class="menu__item" href="#">packages</a></li>
            <li><a class="menu__item" href="#">edit profile</a></li>
          </ul>
        </div>
        
        <div class="custom-shape-divider-bottom-1656921151">
          
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
              
          </svg>
          
        </div>
        
      </div> 
      <div class="profile">
        <img src="../../assets/Ellipse 1 (1).png" height="150px" width="150px" alt="Joy Anne"> <br>
          <div class="text-center">
            <h3>Joy Anne</h3>
            <p class="title">Resident:Thika</p><br>
          </div>
     </div>

     
  <div class="cards">
      <div class="card card1">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../assets/Rectangle 27.png" height="100px" width="100px" alt="call" >
            </div>
            <div class="col-md-8">
              <h3>Contact</h3> 
              <p>0756789</p>
              <h3>Emergency Contact</h3> 
              <p>07546789</p>
            </div>
          </div>
        </div>
      </div> <br><br>

      <div class="card card1">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../assets/Rectangle 29.png" height="100px" width="100px" alt="call" >
            </div>
            <div class="col-md-8">
              <h3>Insured hospital</h3> 
              <p>Thika Hospital </p>
              <h3>Contact</h3> 
              <p>07546789</p>
            </div>
          </div>
        </div>
      </div> <br><br>

      <div class="card card1">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img src="../../assets/Rectangle 31.png" height="100px" width="100px" alt="call" >
            </div>
            <div class="col-md-8">
              <h3>SW Package </h3> 
              <p>Regular</p>
              <h3>Underlying Medical Condition</h3> 
              <p>NONE</p>
            </div>
          </div>
        </div>
      </div>
  </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
  </body>
  </html>
