<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/logoseren.png" alt="" />
      </a>
      <ul class="nav-left">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Signup <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item active" style="display: flex">
          <i
            class="bi bi-telephone-fill"
            style="margin-right: 8px; color: #559178; font-size: 18px"
          ></i>
          <a class="nav-link" href="#"
            >0729949939 <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- nav bar ends-->

    <!-- top image -->
    <div class="card topcard">
      <div class="card-body">
        <img src="../../assets/images/plus.png" alt="" class="plus" />
        <h5 class="card-title">BE THE <br />AMBULANCE <br />SAVE LIVES</h5>
      </div>
      <div class="card-body2" style="height: 100%">
        <img src="../../assets/images/right.png" alt="" style="height: 100%" />
      </div>
    </div>
    <!-- topimagee end -->

    <!-- login  -->
    <div
      class="container"
      style="margin-left: 50px; margin-top: 30px; display: flex"
    >
      <div class="left" style="width: 80%">
        <p class="login">LOGIN</p>
        <hr />

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Password"
            />
          </div>

          <button type="submit" class="btn">LOGIN</button>
        </form>
        <!-- login  -->
      </div>

      <!-- tap -->
      <div class="tap">
        <img
          src="../../assets/images/tap.png"
          alt=""
          style="margin-top: 30px"
        />
        <p style="color: red; margin-left: 80px; font-weight: 600">TAP</p>
        <h5 style="margin-left: 50px; color: red; font-weight: 600">
          Very Urgent
        </h5>
      </div>

      <!-- tap end -->
    </div>
  </body>
</html>
