<!-- nav bar -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" >
    <img src="../../assets/images/logoseren.png" alt="" />
  </a>
  <ul class="nav-left">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/signup" routerLinkActive="active"
        >Signup <span class="sr-only">(current)</span></a
      >
    </li>
        <li class="nav-item active">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active"
        >Profile<span class="sr-only">(current)</span></a
      >
    </li>
    <li class="nav-item active" style="display: flex">
      <i
        class="bi bi-telephone-fill"
        style="margin-right: 8px; color: #559178; font-size: 18px"
      ></i>
      <a class="nav-link" href="#"
        >logout<span class="sr-only">(current)</span></a
      >
    </li>
  </ul>
</nav>
<!-- nav bar ends-->
