<section class="choose-profile">
  <div class="container center-container">
    <div class="row">
      <div class="col-lg-4">
        <div class="choose-profile-card">
          <div class="card_side card_side--front p-5 text-center">
            <!-- CARD FRONTSIDE -->
            <p class="my-3">
              <i class="fa fa-hospital-o custom-fa fa-5x"></i>
            </p>
            <h2 class="mt-4">Continue as a <strong>Doctor</strong></h2>
            <p>Work with dedicated ambulance drivers to save lives</p>
            <div class="">
              <p class="choose-profile-stats">2K</p>
              <p class="mt-4">Number of lives saved</p>
            </div>
          </div>
          <!-- CARD BACKSIDE -->
          <div class="card_side card_side--back card_side--back-1">
            <div class="center-container">
              <!-- <!-- <button  class="custom-btn btn">Set Profile</a> -button> -->
              <h2 class="text-white">Coming Soon</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="choose-profile-card">
          <div class="card_side card_side--front p-5 text-center">
            <!-- CARD FRONTSIDE -->
            <p class="my-3">
              <i class="fa fa-ambulance custom-fa fa-5x card-2-color"></i>
            </p>
            <h2 class="mt-4">Continue as a <strong>Driver</strong></h2>
            <p>Save lives by rushing patients to the nearest hospital</p>
            <div class="">
              <p class="choose-profile-stats driver-stats">15|25</p>
              <p class="mt-4">Private to public hospitals</p>
            </div>
          </div>
          <!-- CARD BACKSIDE -->
          <div class="card_side card_side--back card_side--back-2">
            <div class="center-container">
              <button (click)="onSelect('driver')" class="custom-btn btn">
                Set Profile
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="choose-profile-card">
          <div class="card_side card_side--front p-5 text-center">
            <!-- CARD FRONTSIDE -->
            <p class="my-3">
              <i class="fa fa-heartbeat custom-fa"></i>
            </p>
            <h2 class="mt-4">Continue as a <strong>Patient</strong></h2>
            <p>Get urgent attendance during your health emergencies</p>
            <div class="">
              <p class="choose-profile-stats">10K</p>
              <p class="mt-4">Number of active patients</p>
            </div>
          </div>
          <!-- CARD BACKSIDE -->
          <div class="card_side card_side--back card_side--back-1">
            <div class="center-container">
              <button (click)="onSelect('patient')" class="custom-btn btn">
                Set Profile
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
