<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Homepage</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="mapimage">
        <img src="../../assets/images/map.png" alt="" />
      </div>
      <div class="info">
        <div class="row">
          <div class="col-md-1"></div>

          <div class="col-md-5 myform">
            <form class="form-inline my-2 my-lg-0">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Enter Destination"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-success my-2 my-sm-0"
                type="submit"
              >
                Submit
              </button>
            </form>

            <br /><br />

            <!-- <h3>Health Facilities Near You</h3> -->
            <h3>Available Ambulances</h3>

            <br />

            <div class="card card1">
              <div class="card-body ">
                <div class="location-left">
                  <img
                    src="../../assets/images/amb2.png"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                  <button type="button" class="btn btn-outline-success book">book</button>
                </div>
                <span class="hospital"> St.Johns Ambulance </span> <br />
                Available
              </div>
            </div>
            <br />

            <div class="card card1">
              <div class="card-body">
                <div class="location-left">
                  <img
                    src="../../assets/images/amb.png"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                  <button type="button" class="btn btn-outline-success book">book</button>

                </div>
                <span class="hospital"> Safe Ambulance Services </span> <br />
                Available
              </div>
            </div>
            <br />

            <div class="card card1">
              <div class="card-body">
                <div class="location-left">
                  <img
                    src="../../assets/images/amb2.png"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                  <button type="button" class="btn btn-outline-success book">book</button>

                </div>
                <span class="hospital"> Dynamic Ambulance Services </span> <br />
                Available
              </div>
            </div>
            <br />
          </div>

          <div class="col-md-5">
            <div class="card card2" style="width: 32rem">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-5">
                    <div class="card card3">
                      <div class="card-body">
                        <span class="pickup"> Pickup-point </span>
                        <br />
                        Wendani
                      </div>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="card card3">
                      <div class="card-body">
                        <span class="pickup"> Destination </span>
                        <br />
                        Thika
                      </div>
                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>
                <br /><br />

                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-8">
                    <div class="card fee" style="width: 25rem">
                      <div class="card-body">FEE : KES 2,500</div>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                </div>
<br><br>

                <button type="button" class="btn btn-primary white">Make Payment</button> <br> <br>
                <span class="stars">
                    <img
                    src="../../assets/images/wstar.png"
                    alt=""
                    width="50px"
                    height="50px"
                  />   <img
                    src="../../assets/images/wstar.png"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                  <img
                    src="../../assets/images/wstar.png"
                    alt=""
                    width="50px"
                    height="50px"
                  /><img
                    src="../../assets/images/wstar.png"
                    alt=""
                    width="50px"
                    height="50px"
                  /><img
                    src="../../assets/images/wstar.png"
                    alt=""
                    width="50px"
                    height="50px"
                  />
                </span> <br><br>

                <p class="rate"> Rate Service </p>

              </div>
            </div>
          </div>

          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
